 
#header{
    font-family: "Times New Roman", Times, serif;
  }

  .hide1::-webkit-scrollbar {
        display: none;
  }
      
      /* Hide scrollbar for IE, Edge and Firefox */
      .hide1 {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  .fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.invisible {
    opacity: 0;
}

/* Header.css */
.hide1 {
  overflow: auto;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #fff;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}

.header-title .highlight {
  color: #ff6363;
}

.header-subtitle {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
}

.footer-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.footer-container.fade-in {
  opacity: 1;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.invisible {
  opacity: 0;
}

